body {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    background-image: url('../images/landing-page-bg.png');
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-page .bg-image::after {
    content: '';
    position: absolute;
    left: -200px;
    top: -200px;
    bottom: -200px;
    right: 450px;
    background: #fff;
    transform: rotate(16deg);
}

.landing-page .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10%;
}

.landing-page .content h1 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.landing-page .content h3 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin: 2rem 0;
    width: 399px;
}

.search-form {
    display: flex;
}

.search-form input {
    width: 300px;
    margin-right: 8px;
    padding: 0 20px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #E8E8E8;
    font-size: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form input:focus-visible {
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid #000;
}

.search-form button {
    background: #624F6D;
    color: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    transition: background 250ms;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form button:hover {
    background: #000000;
}

.mission-statement {
    background: #8C90B7;
    padding: 5%;
    min-height: 100vh;
}

.mission-statement h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 30px;
    color: #fff;
}

.mission-statement .description-container {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

.mission-statement .description-container .description-item {
    width: 280px;
    margin: 0 10px;
    flex-shrink: 0;
}

.mission-statement .description-container .description-item .image-wrapper {
    width: 280px;
    height: 280px;
    background: #1a1a1a;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.mission-statement .description-container .description-item .image-wrapper.display {
    background-image: url('../images/brokenphone.png');
}

.mission-statement .description-container .description-item .image-wrapper.anticipate {
    background-image: url('../images/nofood.png');
}

.mission-statement .description-container .description-item .image-wrapper.provide {
    background-image: url('../images/flood.png');
}

.mission-statement .description-container .description-item p {
    color: #fff;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    margin-top: 10px;
    padding: 20px;
}

.mission-statement .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.mission-statement .btn-wrapper button {
    background: #1a1a1a;
    color: #fff;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}

.signup-wrapper {
    align-items: center;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.signup-wrapper .signup-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    
}