body {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    background-image: url('../images/landing-page-bg.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-page .bg-image::after {
    content: '';
    position: absolute;
    left: -200px;
    top: -200px;
    bottom: -200px;
    right: 450px;
    background: #fff;
    transform: rotate(16deg);
}

.landing-page .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10%;
}

.landing-page .content h1 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.landing-page .content h3 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin: 2rem 0;
}

.search-form {
    display: flex;
}

.search-form input {
    width: 300px;
    padding: 0 20px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #000;
    font-size: 16px;
}

.search-form input:focus-visible {
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid #000;
}

.search-form button {
    background: #1A1A1A;
    color: #fff;
    padding: 0 20px;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    transition: background 250ms;
}

.search-form button:hover {
    background: #00008b;
}

nav.page-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}

nav.page-nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav.page-nav > ul > li {
    padding: 1rem;
}

nav.page-nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

about.our-mission {
    text-align: center;
    justify-content: center;
}

.weatherwidget.card {
    justify-content: center;
}

