body {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.landing-page .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 600px;
    background-image: url('../images/landing-page-bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-page .bg-image::after {
    content: '';
    position: absolute;
    left: -200px;
    top: -200px;
    bottom: -200px;
    right: 450px;
    background: #fff;
    transform: rotate(16deg);
}

.landing-page .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10%;
}

.landing-page .content h1 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.landing-page .content h3 {
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin: 2rem 0;
    width: 399px;
}

.search-form {
    display: flex;
}

.search-form input {
    width: 300px;
    margin-right: 8px;
    padding: 0 20px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #E8E8E8;
    font-size: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form input:focus-visible {
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid #000;
}

.search-form button {
    background: #624F6D;
    color: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    transition: background 250ms;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-form button:hover {
    background: #000000;
}

nav.page-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.6) 9.9%, rgba(0, 0, 0, 0) 9.91%),
}

nav.page-nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav.page-nav > ul > li {
    padding: 1rem;
}

nav.page-nav > ul > li > a {
    color: #000;
    text-decoration: none;
}

nav.page-nav > ul > li > a > .signup-btn {
    color: #fff;
    background: blue;
    padding: 6px;
    border-radius: 3px;
}

nav.page-nav > ul > li > a > .sos-btn {
    color: #fff;
    background:#FF0000;
    padding: 6px;
    border-radius: 3px;
}

.mission-statement {
    background: #8C90B7;
    padding: 5%;
    min-height: 100vh;
}

.mission-statement h1 {
    text-align: center;
    font-family: Futura-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 75px;
}

.mission-statement .description-container {
    display: flex;

}

.mission-statement .description-container .our-mission {
    
}

.mission-statement .description-container .our-mission .image-wrapper {
    position: static;
    width: 250px;
    height: 250px;
    left: 0px;
    top: 0px;
    background: #C4C4C4;
    border-radius: 30px;
}

.mission-statement .description-container .our-mission p {

}

.signup-wrapper {
    align-items: center;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.signup-wrapper .signup-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    
}