.contact-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(149, 149, 149, 0.5);
  backdrop-filter: blur(4px);
}

.contact-modal-container .modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-modal-container .contact-modal {
  background: #fff;
  position: absolute;
  top: 150px;
  width: 600px;
  left: calc(50% - 300px);
  padding: 100px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-modal-container .contact-modal > form {
  display: flex;
  flex-direction: column;
}

.contact-modal-container .contact-modal > form input {
  margin: 12px;
  background: #E7E7E7;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 18px;
  height: 40px;
  padding: 0 12px;
}

.contact-modal-container .contact-modal form > input::placeholder {
  color: #AEACAC;
  text-align: center;
}

.contact-modal-container .contact-modal form .button-wrapper {
  padding-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.contact-modal-container .contact-modal form .button-wrapper button {
  background: #E7E7E7;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #AEACAC;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 20px;
  height: 40px;
  transition: background 250ms;
  border-radius: 100px;
  width: 40%;
}

.contact-modal-container .contact-modal form .button-wrapper button:hover {
  background: #D7D7D7;
}

.contact-modal-container .contact-modal form .button-wrapper button[type=submit] {
  background: #624F6D;
  color: #fff;
}

.contact-modal-container .contact-modal form .button-wrapper button[type=submit]:hover {
  background: #000;
}
