.profile-container {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.profile-container form {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 400px;
	margin: 2rem auto;
}

.profile-container form > input {
	margin: 12px;
	background: #E7E7E7;
	border-radius: 3px;
	border: none;
	outline: none;
	font-size: 18px;
	height: 40px;
	padding: 0 12px;
}

.profile-container form > input::placeholder {
	color: #AEACAC;
}

.profile-container form .button-wrapper {
	text-align: center;
	padding: 12px;
	margin-top: 2rem;
}

.profile-container form .button-wrapper button[type=submit] {
	background: #624F6D;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	color: #fff;
	font-size: 16px;
	border: none;
	outline: none;
	padding: 0 20px;
	height: 40px;
	transition: background 250ms;
	border-radius: 100px;
	width: 50%;
}

.profile-container form > button[type=submit]:hover {
	background: #000;
}

form .avatar-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 2rem;
}

form .avatar-container input.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

form .avatar-container label {
	overflow: hidden;
	height: 150px;
	width: 150px;
	display: block;
	cursor: pointer;
}

form .avatar-container .avatar-mask {
	border-radius: 50%;
	overflow: hidden;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid transparent;
	transition: all 250ms;
}

form .avatar-container .avatar-mask:hover {
	border-color: #7B61FF;
}

form .avatar-container .avatar-mask .avatar {
	height: 150px;
	width: auto;
}
