.popup-box {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.popup-box .click-to-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-box .sos-form {
    position: absolute;
    border: 7px solid #393939;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
    width: 1000px;
    left: calc(50% - 500px);
    top: 20%;
    border-radius: 12px;
    background: #fff;
    padding: 2rem;
    text-align: center;
}
 
.popup-box .sos-form h2 {
    color: #FF0202;
    margin: 8px auto;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
}

.popup-box .sos-form .input-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
}

.popup-box .sos-form input {
    background: #E7E7E7;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 18px;
    height: 40px;
    width: 180px;
    padding: 0 12px;
}

.popup-box .sos-form input::placeholder {
    color: #AEACAC;
    text-align: center;
}

.popup-box .sos-form button[type=submit] {
    background: #F04141;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    border: none;
    outline: none;
    padding: 0 50px;
    margin-bottom: 1rem;
}
